* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER CODE START */
.headerBgImage {
    /* width: 100%; */
    height: 100vh;
    background-image: url(../image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0px 50px 50px;
}

.headerBgImage .headerLeftBox {
    width: 50%;
}

.headerBgImage .headerRightBox {
    width: 50%;
    text-align: end;
}

.headerBgImage .headerRightBox h1 {
   font-size: 100px;
   line-height: 63px;
   margin-bottom: 30px;
}

.headerBgImage .headerRightBox h6 {
   font-size: 25px;
   line-height: 55px;
   margin-bottom: 10px;
   font-weight: 200;
   margin-bottom: 20px;
}

.headerBgImage .headerRightBox a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 17px 60px;
    background-color: black;
    border-radius: 50px;
    color: #fff;
}

/* HEADER CODE END HERE */

/* FASHION TREND SECTION CODE START */

.fashionTrend {
    height: 100vh;
    padding: 10% 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fashionTrendLeftBoxImage img{
    text-align: center;
    width: 70%;
}

.fashionTrend .fashionTrendRightBoxText {
    width: 50%;
}

.fashionTrend .fashionTrendRightBoxText h1{
    font-size: 70px;
    line-height: 47px;
    margin-bottom: 30px;
}

.fashionTrend .fashionTrendRightBoxText p{
    font-size: 16px;
    font-weight: 300;
}

.fashionTrend .fashionTrendRightBoxText .fashionTotalListBox {
    margin-top: 30px;
}

.fashionTrend .fashionTrendRightBoxText .listBox {
    display: flex;
    justify-content: start;
    align-items: center;
}

.fashionTrend .fashionTrendRightBoxText .listBox .listIcon img {
    width: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.fashionTrend .fashionTrendRightBoxText .listBox .listText p{
    font-weight: 500;
    font-size: 13px;
}

/* FASHION TREND SECTION CODE END */

/* RECORD SECTION CODE START */

.record {
    padding: 10% 8%;
    background-color: #fda40a1b;
}

.record .recordTitle h1 {
    text-align: center;
    font-size: 40px;
}

.record .recordTotalGrid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
}

.record .recordTotalGrid .recordGridBox {
    padding: 60px 20px;
    border:1px solid #fc9f0941;
    margin: 0 5px;
    border-radius: 40px;
}

.record .recordTotalGrid .recordGridBox img {
    width: 30%;
}

.record .recordTotalGrid .recordGridBox p{
    font-size: 13px;
}


/* RECORD SECTION CODE END */