* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER CODE START */
.headerBgImage {
    /* width: 100%; */
    height: 100vh;
    background-image: url(../image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0px 50px 50px;
}

.colorTitle {
    color: rgb(255, 0, 0);
}

.menuLogo img {
    width: 10%;
}

.headerBgImage .headerLeftBox {
    width: 50%;
}

.headerBgImage .headerRightBox {
    width: 50%;
    text-align: end;
}

.headerBgImage .headerRightBox h1 {
   font-size: 100px;
   line-height: 70px;
   margin-bottom: 30px;
   font-weight: 800;
}

.headerBgImage .headerRightBox h6 {
   font-size: 25px;
   line-height: 55px;
   margin-bottom: 10px;
   font-weight: 500;
   margin-bottom: 20px;
}

.headerBgImage .headerRightBox a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 17px 60px;
    background-color: black;
    border-radius: 50px;
    color: #fff;
}

/* HEADER CODE END HERE */

/* LOGO SECTON CODE START */
.logoSection {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.logoSection .logoSectionInner {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 10px 1%;
    border-radius: 50px;
}
/* LOGO SECTON CODE END */

/* FASHION TREND SECTION CODE START */

.fashionTrend {
    padding: 10% 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fashionTrendLeftBoxImage img{
    text-align: center;
    width: 70%;
}

.fashionTrend .fashionTrendRightBoxText {
    width: 50%;
}

.fashionTrend .fashionTrendRightBoxText h1{
    font-size: 70px;
    line-height: 47px;
    margin-bottom: 30px;
}

.fashionTrend .fashionTrendRightBoxText p{
    font-size: 16px;
    font-weight: 300;
}

.fashionTrend .fashionTrendRightBoxText .fashionTotalListBox {
    margin-top: 30px;
}

.fashionTrend .fashionTrendRightBoxText .listBox {
    display: flex;
    justify-content: start;
    align-items: center;
}

.fashionTrend .fashionTrendRightBoxText .listBox .listIcon img {
    width: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.fashionTrend .fashionTrendRightBoxText .listBox .listText p{
    font-weight: 500;
    font-size: 13px;
}

/* FASHION TREND SECTION CODE END */

/* RECORD SECTION CODE START */

.record {
    padding: 10% 8%;
    background: linear-gradient(90deg, rgba(255, 217, 0, 0.181) 0%, rgba(255, 234, 0, 0.076) 91%);
    border-radius: 50PX 50px 50px 50px;
}

.record .recordTitle h1 {
    text-align: center;
    font-size: 60px;
    line-height: 42px;
    font-weight: 800;
}

.record .recordTotalGrid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
}

.record .recordTotalGrid .recordGridBox {
    padding: 60px 20px;
    border:1px solid #fc9f0941;
    margin: 0 5px;
    border-radius: 40px;
}

.record .recordTotalGrid .recordGridBox img {
    width: 30%;
}

.record .recordTotalGrid .recordGridBox p{
    font-size: 13px;
}

/* RECORD SECTION CODE END */

/* POSITIVE SECTION CODE START */
.positive {
    padding: 5% 8%;
}

.positive .positiveInnerBoxBgImage {
    width: 100%;
    background-image: url(../image/positive.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0px;
    position: relative;
    border-radius: 30px;
}

.positive .positiveInnerBoxBgImage .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(237,242,39,0.989233193277311) 0%, rgba(0,254,255,0.4206057422969187) 91%);
    z-index: 0;
    border-radius: 30px;
}

.positive .positiveInnerBoxBgImage .positiveInnerBoxBgImageleftTextBox {
    padding: 0 10%;
    z-index: 1000;
    position: relative;
}

.positive .positiveInnerBoxBgImage .positiveInnerBoxBgImageleftTextBox h1{
    font-size: 40px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 800;
}

.positive .positiveInnerBoxBgImage .positiveInnerBoxBgImageleftTextBox a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 17px 60px;
    background-color: black;
    border-radius: 50px;
    color: #fff;
}

/* POSITIVE SECTION CODE END */

/* FOOTER CODE START */
footer {
      /* height: 60vh; */
      background-color: black;
      padding: 10% 8% 5% 8%;
      border-radius: 50px 50px 0px 0px;  
}

.footerSection {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footerSection .footerLeftBoxText {
    width: 30%;
    color: #fff;
}

.footerSection .footerLeftBoxText img {
    width: 60%;
    margin-bottom: 40px;
}

.footerSection .footerLeftBoxText p{
    font-size: 11px;
    font-weight: 200;
    margin-bottom: 20px;
}

.footerSection .footerLeftBoxText .socialIcon img{
    width: 25px;
    margin-top: 20px;
    margin-right: 20px;
}

.footerSection .footerLeftBoxText {
    width: 50%;
}

.footerSection .footerRightBoxSubscribe {
    color: #fff;
    width: 100%;
    margin-left: 30%;
}

.footerSection .footerRightBoxSubscribe input[type="text"] {
    width: 60%;
    padding: 15px 17px;
    background-color: transparent;
    border: none;
    border: 1px solid #FEA70B;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
}

.footerSection .footerRightBoxSubscribe .subscribeBtn a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 17px 60px;
    background-color: #FEA70B;
    border-radius: 50px;
    color: #000;
}

/* FOOTER CODE END */